<div [formGroup]="form">
  <app-field label="Primary Race/Ethnicity" [required]="false" [disabled]="isDisabled" [valid]="isMyControlValid(form.get('primaryRaceEthnicity'))" errorMessage="Please select an option">
    <select class="form-control" formControlName="primaryRaceEthnicity">
      @for (enum of raceEthnicityList; track enum) {
        <option [value]="enum.val">{{enum.name}}</option>
      }
    </select>
  </app-field>
  @if (isPersonIndigenous) {
    <app-field label="Indigenous" [required]="false"  [disabled]="isDisabled" errorMessage="Please select an option">
      <select class="form-control" formControlName="indigenousStatus">
        @for (enum of indigenousStatusList; track enum) {
          <option [value]="enum.val">{{enum.name}}</option>
        }
      </select>
    </app-field>
  }
  @if (form.get('primaryRaceEthnicity').value == otherRaceEthnicityValue) {
    <app-field label="Other Race/Ethnicity" [required]="false" errorMessage="Please emter your gender" [disabled]="isDisabled">
      <label class="inline-label">
        <input type="text" name="raceEthnicity" formControlName="otherPrimaryRaceEthnicity">
      </label>
    </app-field>
  }
</div>
