<div [formGroup]="form">
  <div class="page-header">
    <h1>Review & Submit</h1>
  </div>
  <p>Please check the accuracy of the information entered in your application before submitting.</p>

  @if (formType.val === ResitutionForm.VictimEntity.val) {
    <h2 class="blue-header">
      {{applicant_type}} Information <span class="hide-for-print"><button (click)="gotoPageAndEdit(PAGES.RESTITUTION_INFORMATION, 'ApplicantInformation');" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button></span>
    </h2>
    <table class="table table-striped review-table">
      <tbody>
        <tr>
          <th>Entity Name</th>
          <td>{{ valueOrEmpty('restitutionInformation.lastName') }} </td>
        </tr>
      </tbody>
    </table>
  }

  @if (formType.val === ResitutionForm.Victim.val || formType.val === ResitutionForm.Offender.val) {
    <h2 class="blue-header">
      {{applicant_type}} Information <span class="hide-for-print"><button (click)="gotoPageAndEdit(PAGES.RESTITUTION_INFORMATION, 'ApplicantInformation');" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button></span>
    </h2>
    <table class="table table-striped review-table">
      <tbody>
        <tr>
          <th>First Name</th>
          <td>{{ valueOrEmpty('restitutionInformation.firstName') }} </td>
        </tr>
        <tr>
          <th>Middle Name</th>
          <td>{{ valueOrEmpty('restitutionInformation.middleName') }} </td>
        </tr>
        <tr>
          <th>Last Name</th>
          <td>{{ valueOrEmpty('restitutionInformation.lastName') }} </td>
        </tr>
        <tr>
          <th>Other First Name</th>
          <td>{{ valueOrEmpty('restitutionInformation.otherFirstName') }} </td>
        </tr>
        <tr>
          <th>Other Last Name</th>
          <td>{{ valueOrEmpty('restitutionInformation.otherLastName') }} </td>
        </tr>
        <tr>
          <th>Birth Date</th>
          <td>{{ valueOrEmpty('restitutionInformation.birthDate', '') | date }}</td>
        </tr>
        <tr>
          <th>Gender</th>
          <td>{{ getOptionSetNameFromVal(enumHelper.CRMGender, valueOrEmpty('restitutionInformation.gender')) }}</td>
        </tr>
        <ng-container *featureEnabled="useUpdatedComplianceFields">
          @if (showOtherGender) {
            <tr>
              <th>Other Gender</th>
              <td>{{ form.get('restitutionInformation.otherGender')?.value }} </td>
            </tr>
          }
          <tr >
            <th>Pronoun</th>
            <td>{{ getOptionSetNameFromVal(enumHelper.CRMPronoun, valueOrEmpty('restitutionInformation.pronouns')) }} </td>
          </tr>
          @if (showOtherPronoun) {
            <tr>
              <th>Other Pronoun </th>
              <td>{{ form.get('restitutionInformation.otherPronoun')?.value }} </td>
            </tr>
          }
          <tr>
            <th>Primary Race/Ethnicity</th>
            <td>{{ getOptionSetNameFromVal(enumHelper.CRMRaceEthnicity, valueOrEmpty('restitutionInformation.primaryRaceEthnicity')) }}</td>
          </tr>
          @if (showOtherRace) {
            <tr>
              <th>Other Race/Ethnicity </th>
              <td>{{ form.get('restitutionInformation.otherPrimaryRaceEthnicity')?.value }} </td>
            </tr>
          }
        </ng-container>
        @if (showIndigenous) {
          <tr>
            <th>Indigenous</th>
            <td>{{ getOptionSetNameFromVal(enumHelper.IndigenousStatus, valueOrEmpty('restitutionInformation.indigenousStatus')) }}</td>
          </tr>
        }
      </tbody>
    </table>
    @if (formType.val === ResitutionForm.Victim.val) {
      @if (form.get('restitutionInformation.authorizeDesignate').value === CRMMultiBoolean.True) {
        @for (item of form.get('restitutionInformation.designate')['controls']; track item; let i = $index) {
          <div>
            <h3>Authorized Victim Designate</h3>
            <table class="table table-striped review-table">
              <tbody>
                <tr>
                  <th>First Name</th>
                  <td>{{ valueOrEmpty(item.get('firstName')) }}</td>
                </tr>
                <tr>
                  <th>Last Name</th>
                  <td>{{ valueOrEmpty(item.get('lastName')) }}</td>
                </tr>
                <tr>
                  <th>Preferred Name</th>
                  <td>{{ valueOrEmpty(item.get('preferredName')) }}</td>
                </tr>
              </tbody>
            </table>
            @if (item.get('actOnBehalf').value === true) {
              <div>
                <p>
                  <label class="inline-label inline-checkbox-label">
                    <input type="checkbox" [checked]="item.get('actOnBehalf').value === true" disabled="disabled" />
                    <span>I hereby authorize to act on my behalf for the purposes of involvement with the Restitution Program which includes personal information pertaining to me.</span>
                  </label>
                </p>
              </div>
            }
          </div>
        }
      }
    }
  }

  <ng-container>
    <h2 class="blue-header">
      Contact Information <span class="hide-for-print"><button (click)="gotoPageAndEdit(PAGES.RESTITUTION_INFORMATION, 'ContactInformation');" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button></span>
    </h2>

    @if (formType.val === ResitutionForm.VictimEntity.val) {
      @for (item of contactsToDisplay['controls']; track item; let i = $index) {
        <table class="table table-striped review-table">
          <tbody>
            <tr>
              <th>Contact Title</th>
              <td>{{ valueOrEmpty(item.get('contactTitle')) }}</td>
            </tr>
            <tr>
              <th>Contact Last Name</th>
              <td>{{ valueOrEmpty(item.get('firstName')) }}</td>
            </tr>
            <tr>
              <th>Contact Last Name</th>
              <td>{{ valueOrEmpty(item.get('lastName')) }}</td>
            </tr>
            <tr>
              <th>Is Primary Entity Contact</th>
              @if (valueOrEmpty(item.get('isPrimaryContact')) == 100000000) {
                <td> Yes </td>
              }
              @if (valueOrEmpty(item.get('isPrimaryContact')) == 100000001) {
                <td> No </td>
              }
            </tr>
            <tr>
              <th>Preferred Method Of Contact</th>
              <td>
                {{ getOptionSetNameFromVal(enumHelper.ContactMethods, valueOrEmpty(item.get('preferredMethodOfContact'))) }}
              </td>
            </tr>
            <tr>
              <th>SMS Preferred</th>
              @if (valueOrEmpty(item.get('smsPreferred')) == 100000001) {
                <td> Yes </td>
              }
              @if (valueOrEmpty(item.get('smsPreferred')) == 100000000) {
                <td> No </td>
              }
            </tr>
            <tr>
              <th>Phone Number</th>
              <td>{{ valueOrEmpty(item.get('phoneNumber')) }}</td>
            </tr>
            <tr>
              <th>Alternate Phone Number</th>
              <td>{{ valueOrEmpty(item.get('alternatePhoneNumber')) }}</td>
            </tr>
            <tr>
              <th>Leave Voicemail</th>
              @if (valueOrEmpty(item.get('leaveVoicemail'))=='100000000') {
                <td>Primary and Alternate</td>
              }
              @if (valueOrEmpty(item.get('leaveVoicemail'))=='100000001') {
                <td>Primary only</td>
              }
              @if (valueOrEmpty(item.get('leaveVoicemail'))=='100000002') {
                <td>Alternate only</td>
              }
              @if (valueOrEmpty(item.get('leaveVoicemail'))=='100000003') {
                <td>No Voicemail</td>
              }
              @if (valueOrEmpty(item.get('leaveVoicemail'))==0) {
                <td></td>
              }
            </tr>
            <tr>
              <th>Email</th>
              <td>{{ valueOrEmpty(item.get('email')) }}</td>
            </tr>
            <!--<tr>
            <th>Attention To</th>
            <td>{{ valueOrEmpty(item.get('attentionTo')) }}</td>
          </tr>-->
        </tbody>
      </table>
    }
  }

  <!--<table class="table table-striped review-table">
  <tbody>
    <tr>
      <th>Preferred Method of Contact</th>
      <td>{{ getOptionSetNameFromVal(enumHelper.ContactMethods, valueOrEmpty('restitutionInformation.contactInformation.preferredMethodOfContact')) }}
      </td>
    </tr>
  </tbody>
</table>-->

<h3>Mailing Address</h3>
<table class="table table-striped review-table">
  <tbody>
    <tr>
      <th>Mailing Address</th>
      <td>@if (addressHelper.hasAddressInfo(form.get('restitutionInformation.contactInformation.mailingAddress').value)) {
        <span [innerHTML]="displayMailingSubAddress('restitutionInformation.contactInformation.mailingAddress')"></span>
      }</td>
    </tr>
    @if (formType.val === ResitutionForm.VictimEntity.val) {
      <tr>
        <th>Attention To</th>
        <td>{{ valueOrEmpty('restitutionInformation.contactInformation.attentionTo') }}</td>
      </tr>
    }
  </tbody>
</table>

@if (formType.val !== ResitutionForm.VictimEntity.val) {
  <h3>Communication</h3>
}
@if (formType.val !== ResitutionForm.VictimEntity.val) {
  <table class="table table-striped review-table">
    <tbody>
      <tr>
        <th>Primary Phone Number</th>
        <td>{{ valueOrEmpty('restitutionInformation.contactInformation.phoneNumber') | phone }} </td>
      </tr>
      <tr>
        <th>Alternate Phone Number</th>
        <td>{{ valueOrEmpty('restitutionInformation.contactInformation.alternatePhoneNumber') | phone }} </td>
      </tr>
      <tr>
        <th>Leave Voicemail?</th>
        <td>
          {{ getOptionSetNameFromVal(enumHelper.LeaveVoicemail, valueOrEmpty('restitutionInformation.contactInformation.leaveVoicemail')) }}
        </td>
      </tr>
      <tr>
        <th>Email Address</th>
        <td>{{ valueOrEmpty('restitutionInformation.contactInformation.email') }} </td>
      </tr>
    </tbody>
  </table>
}

</ng-container>

<ng-container>
  <h2 class="blue-header">
    Restitution Order Information <span class="hide-for-print"><button (click)="gotoPageAndEdit(PAGES.RESTITUTION_INFORMATION, 'CourtFileInformation');" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button></span>
  </h2>
  @for (item of form.get('restitutionInformation.courtFiles')['controls']; track item; let i = $index) {
    <table class="table table-striped review-table">
      <tbody>
        @if (formType.val === ResitutionForm.Victim.val || formType.val === ResitutionForm.VictimEntity.val) {
          <tr>
            <th>Offender First Name</th>
            <td>{{ valueOrEmpty(item.get('firstName')) }}</td>
          </tr>
          <tr>
            <th>Offender Middle Name</th>
            <td>{{ valueOrEmpty(item.get('middleName')) }}</td>
          </tr>
          <tr>
            <th>Offender Last Name</th>
            <td>{{ valueOrEmpty(item.get('lastName')) }}</td>
          </tr>
          <tr>
            <th>Relationship to the Offender</th>
            <td>{{ valueOrEmpty(item.get('relationship')) }}</td>
          </tr>
        }
        <tr>
          <th>Court File Number</th>
          <td>{{ valueOrEmpty(item.get('fileNumber')) }}</td>
        </tr>
        <tr>
          <th>Court Location</th>
          <td>{{ valueOrEmpty(item.get('location')) }}</td>
        </tr>
      </tbody>
    </table>
  }
</ng-container>

@if (formType.val === ResitutionForm.Victim.val || formType.val === ResitutionForm.VictimEntity.val) {
  <h2 class="blue-header">
    Victim Service Worker <span class="hide-for-print"><button (click)="gotoPageAndEdit(PAGES.RESTITUTION_INFORMATION, 'VSWInformation');" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button></span>
  </h2>
  @for (item of form.get('restitutionInformation.vsw')['controls']; track item; let i = $index) {
    <table class="table table-striped review-table">
      <tbody>
        <tr>
          <th>Victim Service Worker First Name</th>
          <td>{{ valueOrEmpty(item.get('firstName')) }}</td>
        </tr>
        <tr>
          <th>Victim Service Worker Last Name</th>
          <td>{{ valueOrEmpty(item.get('lastName')) }}</td>
        </tr>
        <tr>
          <th>Program Name</th>
          <td>{{ valueOrEmpty(item.get('program')) }}</td>
        </tr>
        <tr>
          <th>Phone Number</th>
          <td>{{ valueOrEmpty(item.get('phoneNumber')) | phone }} </td>
        </tr>
        <tr>
          <th>Email Address</th>
          <td>{{ valueOrEmpty(item.get('email')) }}</td>
        </tr>
      </tbody>
    </table>
  }
}

@if (form.get('restitutionInformation.documents')['controls'].length > 0) {
  <h2 class="blue-header">
    Copy of Restitution Order <span class="hide-for-print"><button (click)="gotoPageAndEdit(PAGES.RESTITUTION_INFORMATION, 'DocumentInformation');" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button></span>
  </h2>
  @for (document of form.get('restitutionInformation.documents')['controls']; track document; let i = $index) {
    <table class="table table-striped review-table">
      <tbody>
        <tr>
          <th>Additional Information</th>
          <td>{{ valueOrEmpty(document.get('filename')) }}</td>
        </tr>
        @if (document.get('subject').value) {
          <tr>
            <th>File Description</th>
            <td>{{ valueOrEmpty(document.get('subject')) }}</td>
          </tr>
        }
      </tbody>
    </table>
  }
}

<ng-container>
  <h2 class="blue-header">
    Declaration <span class="hide-for-print"><button (click)="gotoPageAndEdit(PAGES.RESTITUTION_INFORMATION, 'SignatureInformation');" class="btn review-btn"><i class="fa fa-pencil"></i> VIEW AND EDIT</button></span>
  </h2>
  @if (form.get('restitutionInformation.declaredAndSigned').value === true) {
    <div>
      <p>
        <label class="inline-label inline-checkbox-label">
          <input type="checkbox" [checked]="form.get('restitutionInformation.declaredAndSigned').value === true" disabled="disabled" />
          @if (formType.val === ResitutionForm.Victim.val) {
            <span>By signing this form, I am applying to the Restitution Program for assistance in the facilitation of my restitution order and I confirm that I am the individual named on this form (or the parent/guardian/legal representative of the victim named on this form). Where applicable, I give permission to the Restitution Program to release information to the Victim Designate I have named above.</span>
          }
          @if (formType.val === ResitutionForm.Offender.val) {
            <span>By signing this form, I am applying to the Restitution Program for assistance in the facilitation of my restitution payments and I confirm that I am the individual named on this form.</span>
          }
          @if (formType.val === ResitutionForm.VictimEntity.val) {
            <span>By signing this form, I confirm that I have signing authority for the subject of the above noted restitution order and I am applying to the Restitution Program for assistance in the facilitation of the restitution order. Where applicable, I give permission to the Restitution Program to release information to the contacts I have named above.</span>
          }
        </label>
      </p>
    </div>
  }

  <table class="table table-striped review-table">
    <tbody>
      @if (formType.val === ResitutionForm.VictimEntity.val) {
        <tr>
          <th>Full Name</th>
          <td>{{ valueOrEmpty('restitutionInformation.signatureName') }}</td>
        </tr>
        <tr>
          <th>Signing Officer Title</th>
          <td>{{ valueOrEmpty('restitutionInformation.signerTitle') }}</td>
        </tr>
        <tr>
          <th>Date</th>
          <td>{{ valueOrEmpty('restitutionInformation.signatureDate') | date }}</td>
        </tr>
      }

      <tr>
        <th>Applicant's Signature</th>
        <td>
          @if (valueOrEmpty('restitutionInformation.signature', '') != '') {
            <img class="review-signature" src="{{ valueOrEmpty('restitutionInformation.signature', '') }}" />
          }
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
</div>

